{% set section = include_dict.section %}
<section id="{{ section.section_id }}" class="block faq-block bg-{{ section.background }} outer">
    <div class="inner-small">
        <div class="inner">
            <form class="try-it-out-form">
                <div class="form-row">
                    <label>
                        <span class="screen-reader-text">Text</span>
                        <textarea placeholder="Enter text here..."></textarea>
                    </label>
                </div>
                <button id="try-it-out" class="button" type="button" onclick="summarizeText()">Summarize</button>
            </form>
        </div>
        <div class="inner">
            <div class="loader"></div>
            <p class="block-subtitle" id="try-it-out-result"></p>
        </div>
    </div><!-- .inner-small -->
</section><!-- .block -->
