/**
 * General
 * ----------------------------------------------------------------------------
 */
html {
  font-family: _font(primary);
  font-size: 112.5%;
  height: 100%;
  min-height: 100%;
}

body {
  background: _palette(bg);
  color: _palette(primary);
  line-height: 1.66667;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  border-bottom: 1px solid currentColor;
  color: _palette(primary);
  text-decoration: none;
  -webkit-transition: border-color .15s ease-in-out, color .15s ease-in-out;
  transition: border-color .15s ease-in-out, color .15s ease-in-out;

  &:hover,
  &:focus {
    border-color: _palette(accent);
    color: _palette(accent);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: _palette(secondary);
  font-weight: bold;
  line-height: 1.2;
  margin: 2.5rem 0 0.83333rem;
  text-rendering: optimizeLegibility;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 2.44444rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.66667rem;
}

h4 {
  font-size: 1.33333rem;
}

h5 {
  font-size: 1.11111rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1.66667em;
}

address {
  font-style: italic;
  margin: 0 0 1.66667em;
}

mark,
ins {
  background: #fff493;
  color: _palette(primary);
  padding: 0 3px;
  text-decoration: none;
}

pre {
  background: #fff;
  border-radius: 3px;
  font-size: 0.88889rem;
  margin: 0 0 1.66667rem;
  overflow: auto;
  padding: 1.66667rem;
  position: relative;
  white-space: pre;
}

blockquote {
  border-left: 3px solid _palette(accent);
  color: _palette(secondary);
  font-size: 1.33333rem;
  line-height: 1.3;
  margin: 0 0 1.66667rem;
  padding-left: 30px;

  p {
    margin-bottom: 0.83333rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  small,
  cite {
    color: _palette(meta);
    display: block;
    font-size: 1.11111rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.66667;
    margin-top: 0.83333rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.66667em;
}

ul,
ol {
  margin: 0 0 1.66667em;
  padding: 0 0 0 1.66667em;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

hr {
  background-color: _palette(border);
  border: 0;
  height: 1px;
  margin: 2.5em 0;
}

table {
  line-height: 1.5;
  margin: 0 0 1.66667em;
  text-align: left;
  width: 100%;
}

caption {
  color: _palette(meta);
  font-size: 0.88889em;
  font-style: normal;
  margin-bottom: 0.83333rem;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid _palette(border);
  padding: 0.5em 5px;
}

th {
  color: _palette(secondary);
  font-weight: bold;
}

/* Form fields */
label {
  color: _palette(secondary);
  font-weight: bold;
}

input[type=checkbox]+label,
input[type=radio]+label {
  cursor: pointer;
  padding-left: 0.25em;
  padding-right: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  background: #fff;
  border: 1px solid _palette(border);
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: _palette(primary);
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5em 15px;
  vertical-align: baseline;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: 3em;
}

textarea {
  padding: 0.75em 15px;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a.button {
  background: _palette(accent);
  border-radius: 3px;
  border: 2px solid _palette(accent);
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 2.75em;
  line-height: 1.5;
  padding: 0.5em 30px;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.75;
    outline: 0;
  }
}

a.button {
  height: auto;
}

.button.large {
  height: 3em;
  padding-left: 40px;
  padding-right: 40px;
}

a.button.large {
  height: auto;
  padding-bottom: 0.625em;
  padding-top: 0.625em;
}

.button.secondary {
  background: transparent;
  color: _palette(accent);
  -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: _palette(accent);
    color: #fff;
    opacity: 1;
  }
}

.button.white {
  background: #fff;
  border-color: transparent;
  box-shadow: 0 20px 30px 0 rgba(_palette(primary),.2);
  color: _palette(primary);
  -webkit-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    opacity: 1;
  }
}

#menu-open,
#menu-close {
  background: 0;
  border: 0;
  box-shadow: none;
  color: inherit;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;
}

/* Contact form */
.contact-form {
  .form-row {
    margin-bottom: 0.83333em;
  }

  label {
    display: block;
    padding-bottom: 0.25em;
  }

  .form-submit {
    margin-top: 1.66667em;
  }
}

/* Subscribe form */
.subscribe-form {
  margin-bottom: 1.66667rem;

  .subscribe-email {
    width: 100%;
  }

  .button {
    margin: 0.83333rem 0 0;
  }
}

/* Try it out form */
.try-it-out-form {
  margin-bottom: 1.66667rem;

  textarea {
    width: 100%;
    height: 5rem;
  }
}

/* Videos, audios and embeds */
embed,
iframe,
object,
video {
  max-width: 100%;
}

.js-reframe {
  margin: 0 0 1.66667em;
}

/* Images */
img {
  height: auto;
  max-width: 100%;
}

.post-thumbnail img,
.post-content img {
  border-radius: 3px;
}

/* Heading underline */
.underline {
  position: relative;

  &:after {
    border-left: 68px solid _palette(accent);
    display: block;
    content: "";
    height: 2px;
    margin-top: 1rem;
  }
}

/* Text meant only for screen readers */
.screen-reader-text,
.site-logo + .site-title {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* Clearing floats */
.post-content:after {
  clear: both;
}

.post-content:before,
.post-content:after {
  content: "";
  display: table;
}
